node_modules
dist
build
.DS_Store
*.log
account-app-rn/node_modules
account-app-rn/ios/Pods
account-app-rn/ios/**/*.xcworkspace/xcuserdata/
account-app-rn/ios/**/*.xcodeproj/xcuserdata/
account-app-rn/ios/main.jsbundle
account-app-rn/ios/assets/
account-app-rn/android/.gradle/
account-app-rn/*.keystore
account-app-rn/*.jks
account-app-rn/android/keystore.properties
account-app-rn/android/app/*.keystore
account-app-rn/android/app/*.jks
account-app-rn/android/app/src/main/assets/
account-app-rn/android/app/src/main/res/drawable-*/node_modules_*
account-app-rn/android/app/src/main/res/drawable-*/src_assets_*
account-app-rn.zip
account-app-rn/src.zip
account-app-server/target
account-app-server/data
